In [113]:
import pandas 
import configparser
import psycopg2

In [114]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db = config['myaws']['db']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [115]:
conn = psycopg2.connect(
                        host = host,
                        user = user,
                        password = pwd,
                        dbname = db)

In [116]:
sql = """ 
select * from student
"""

In [117]:
df = pandas.read_sql_query(sql, conn)
df[:10]

/tmp/ipykernel_7796/647199877.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql, conn)

      s_email s_name major
0  s1@jmu.edu     s1    GS
1  s2@jmu.edu     s2    IA
2  s3@jmu.edu     s3  ISAT
3  s4@jmu.edu     s4  ISAT
4  s5@jmu.edu     s5    IA

In [118]:
cur = conn.cursor()

In [119]:
sql = """ insert into student(s_email, s_name, major)
        values('{}','{}','{}')
""".format('s5@jmu.edu','s5','IA')

print(sql)

 insert into student(s_email, s_name, major)
        values('s5@jmu.edu','s5','IA')

In [120]:
cur.execute(sql)

UniqueViolation: duplicate key value violates unique constraint "student_pkey"
DETAIL:  Key (s_email)=(s5@jmu.edu) already exists.

In [111]:
conn.commit()

In [112]:
conn.rollback()

In [121]:
cur.close()

In [122]:
conn.close